# Node modules
node_modules/
dist/
build/
.next/
out/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Local DB
mongodb-local/
instaura.db
out.txt

# Python
.venv/
__pycache__/
*.py[cod]

# IDEs
.vscode/
.idea/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Generated.xcconfig
scripts/config.yaml
